*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: white;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5vh;
    background-color: rgb(108, 0, 0);
}

button{
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    background-color: rgb(202, 2, 2);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px #000;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}
